<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="bottom-to-top">
    <div class="mb-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"  style="background-color:white;">
      <div>
        <a [routerLink]="['/']" (click)="sidenav.toggle()">
          <img src="../../assets/logo.png" width="200">
        </a>
      </div>
    </div>
    <div class="mt-2 py-1 text-white" fxLayout="column" fxLayoutAlign="center center"
      fxLayoutGap="7px">
      <div>
        <a class="mat-body-1">
          Mazzuma Playground
        </a>
      </div>
    </div>
    <div class="mt-1">
      <mat-nav-list>
        <a [routerLink]="['/']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">home</mat-icon> Home
        </a>
        <a [routerLink]="['/settings']" mat-list-item class="ml-2" style="font-size:15px;" (click)="sidenav.toggle()">
          <mat-icon class="mr-3">info</mat-icon>
          Settings
        </a>
      </mat-nav-list>
      <mat-accordion multi="true">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title>
              <mat-icon class="mr-3">more_vert</mat-icon>
              More
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>
            <a href="https://mazzuma.com" target="new" (click)="sidenav.toggle()" mat-list-item>
              <a>About Mazzuma</a>
            </a>
            <a href="https://developer.teamcyst.com/" target="new" (click)="sidenav.toggle()" mat-list-item>
              Developer Docs
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button mat-icon-button (click)="sidenav.toggle()" title="Toggle sidebar">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-icon-button [routerLink]="['/']" title="Home" fxShow.xs fxHide.gt-xs>
        <mat-icon>home</mat-icon>
      </a>
      <button mat-mini-fab color="secondary" routerLink="/settings" title="New Request" fxShow.xs fxHide.gt-xs class="ml-2">
        <mat-icon>settings</mat-icon>
      </button>
      <a mat-button [routerLink]="['/']" title="Home" fxHide.xs>
        <mat-icon class="mr-0">home</mat-icon>
        PlayGround
      </a>
      <a class="ml-2" mat-flat-button routerLink="/settings" color="secondary" title="New Request" fxHide.xs>
        <mat-icon class="mr-0">settings</mat-icon>
        Settings
      </a>
      <span class="spacer"></span>
      <a [routerLink]="['/help']" mat-icon-button title="about" class="mr-1">
        <mat-icon aria-label="Example icon-button with a heart icon">help</mat-icon>
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

