<div class="container mt-5 mx-1">
  <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div fxFlex="70" fxFlex.xs="100" fxFlex.sm="100">
      <mat-card>
        <mat-card-title>Help with PlayGround</mat-card-title>
        <mat-card-subtitle>Keep these in mind as you use PlayGround</mat-card-subtitle>
        <mat-card-content>
          <p class="mat-body-1">
            Mazzuma Playground (the website you're on now), was built as an accompanying website for the <em>Getting
              Started with Mazzuma Platform</em> YouTube series. We hope you enjoy the series.
          </p>
          <h4>What should happen after a transaction is initiated? <a (click)="openAll()" style="cursor: pointer;">(Open All)</a></h4>
          <mat-accordion multi="true" #myaccordion="matAccordion">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Request to Mazzuma
                </mat-panel-title>
                <mat-panel-description>
                  An API call to Mazzuma
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates expedita laborum animi voluptate quaerat. Exercitationem vel harum cumque deleniti, in facilis voluptatum possimus ipsum ex ipsa? Porro repellat aliquam dicta!
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  USSD Push
                </mat-panel-title>
                <mat-panel-description>
                  Sender Mobile Money Number is hit
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti reiciendis necessitatibus laboriosam dignissimos impedit modi fugiat repellendus provident aliquam in quos velit ad animi odit ut vitae, dolorem, tempora nihil?
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
