<mat-card class="text-center">
  <mat-card-title>Transaction Summary</mat-card-title>
  <mat-card-subtitle>Please review carefully.</mat-card-subtitle>
  <mat-card-content>
    <h5 class="mb-0">About to send money from</h5>
    <p class="mat-display-1 mb-1">{{ data.sender_number || 'Empty' }}</p>
    <p class="mat-body-1 mt-0">{{ data.sender_name || 'Empty' }}</p>
    <h5 class="mb-0">to</h5>
    <p class="mat-display-1 mb-1">{{ data.recipient_number || 'Empty' }}</p>
    <p class="mat-body-1 mt-0">{{ data.recipient_name || 'Empty' }}</p>
    <h5 class="mb-0">In the amount of</h5>
    <p class="mat-display-1">{{ data.price || '0.00' }} ₵</p>
  </mat-card-content>
</mat-card>
<mat-nav-list>  
  <mat-progress-bar *ngIf="busy" mode="indeterminate"></mat-progress-bar>
  <a mat-list-item (click)="makeTransaction(data)" *ngIf="!busy">
    <mat-icon mat-list-icon color="success">check_circle</mat-icon>
    <span mat-line class="mat-headline" color="success">Proceed</span>
    <span mat-line>This action executes the transaction, for real</span>
  </a>
  <mat-list-item *ngIf="busy">
    <span mat-line class="mat-headline">Initiating Transaction. Please check your phone to proceed.</span>
  </mat-list-item>

  <a mat-list-item (click)="onNoClick()">
    <mat-icon mat-list-icon>undo</mat-icon>
    <span mat-line class="mat-headline">Cancel. Don't do it!</span>
    <span mat-line>Cool. Go back to page</span>
  </a>
</mat-nav-list>
