<div fxLayout="row" fxLayoutAlign="center center" class="mt-4 mx-2">
  <div>
    <h3 class="mat-title mb-1">Let's have fun! <mat-icon matTooltip="Remember this website is a playground and only available for learning purposes. Click on the Help icon for more info"
      aria-label="Button that displays a tooltip when focused or hovered over">help</mat-icon></h3>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center" class="mx-2 mt-4 mb-5">
  <div fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="60" fxFlex.lg="50" class="mb-2">
    <mat-card class="text-center">
      <form #createCompany="ngForm" (ngSubmit)="onSubmit(createCompany.value)">
        <mat-card-title>Test Making Transaction</mat-card-title>
        <mat-card-subtitle>Use the form below to make a live transaction. Fill in the Receipient details section first.</mat-card-subtitle>
        <mat-card-content fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start">
          <div fxFlex>
            <mat-form-field>
              <input type="text" matInput placeholder="Name of sender" name="sender_name" [(ngModel)]="sender_name"
                required>
              <mat-error *ngIf="createCompany.controls['sender_name']?.invalid">This field is required and not
                complete.</mat-error>
              <mat-hint>Name should be same as used for registering Mobile Money with the number below</mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input type="text" matInput placeholder="Mobile Number" name="sender_number" [(ngModel)]="sender_number"
                required>
              <mat-error *ngIf="createCompany.controls['sender_number']?.invalid">This field is required and not
                complete.</mat-error>
                <mat-hint>The mobile money number you're sending the money <strong>FROM</strong>  </mat-hint>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input type="text" matInput placeholder="How much to send?" name="price" [(ngModel)]="price" required>
              <mat-error *ngIf="createCompany.controls['price']?.invalid">This field is required and not complete.</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="createCompany.invalid">Confirm Transaction</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
