<div class="container mt-4">

  <form [formGroup]="settingsForm" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center start" class="mx-2 mb-5 ">
    <div fxFlex.xs="100" fxFlex.lg="40">
      <mat-card>
        <mat-card-title>Playground Settings</mat-card-title>
        <mat-card-subtitle>Current settings (saved in LocalStorage)</mat-card-subtitle>
        <mat-card-content>
          <div fxLayout="column wrap" fxLayoutGap="20px">
            <div>
              <mat-form-field>
                <input type="text" matInput placeholder="Mazzuma Developer API Key" name="api_key" formControlName="api_key"
                  required>
                <mat-error *ngIf="settingsForm.controls['api_key']?.invalid">This field is required and not complete.</mat-error>
                <mat-hint>Enter your Mazzuma Developer API key</mat-hint>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input type="text" matInput placeholder="Reciepient Name" name="recipient_name" formControlName="recipient_name"
                  required>
                <mat-error *ngIf="settingsForm.controls['recipient_name']?.invalid">This field is required and not
                  complete.</mat-error>
                <mat-hint>The name on the account that'll receive the payments</mat-hint>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input type="text" matInput placeholder="Reciepient Phone Number" name="recipient_number" formControlName="recipient_number"
                  required>
                <mat-error *ngIf="settingsForm.controls['recipient_number']?.invalid">This field is required and not
                  complete.</mat-error>
                <mat-hint>The phone number account that'll receive the payments</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onSubmit(settingsForm.value)" [disabled]="settingsForm.invalid">Update</button>
          <button mat-button color="warn" (click)="clearSettings()">Clear</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex.lg="40">
      <mat-card>
        <mat-card-title>Settings</mat-card-title>
        <mat-card-subtitle>Your settings</mat-card-subtitle>
        <mat-card-content>
          <h5 class="mb-1">API Key</h5>
          <p class="mt-0">{{ theSettings.api_key || 'Not set' }}</p>
          <h5 class="mb-1">Recipient Name</h5>
          <p class="mt-0">{{ theSettings.recipient_name || 'Not set'  }}</p>
          <h5 class="mb-1">Recipient Phone Number</h5>
          <p class="mt-0">{{ theSettings.recipient_number || 'Not set'  }}</p>
          <h5 class="mb-1">Network Type</h5>
          <p class="mt-0">{{ theSettings.network_type || 'Set Phone No.'  }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </form>
</div>
